@page "/"
@using WeddingFrontend.Models

@inject IJSRuntime JS
@rendermode InteractiveServer

<div class="row mt-5">
    <div class="col-12 d-flex justify-content-center">
        <Battle></Battle>
    </div>
</div>

@code {
    private List<Guest>? guests;

    

}