@page "/rsvp/entree-selection"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject IDbContextFactory<AppDbContext> DbFactory
@inject IJSRuntime JS

@using WeddingFrontend.Components.RSVPComponents
@using WeddingFrontend.Context
@using WeddingFrontend.Models

<div class="row">
    <div class="col-12 col-md-6">
        <div class="rsvp-container">
            <EntreeSelect Guest="@CurrentlySelectingEntree" OnEntreeSelected="GetSelectedEntree" Enabled="@(!AllEntreesSelected)"></EntreeSelect>

            @if(AllEntreesSelected)
            {
                <p class="rsvp-confirmation">Entrees Have Been Selected For Everyone, Thanks For RSVP'ing!</p>
            }
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromQuery]
    public string[] Names { get; set; } = Array.Empty<string>();

    [SupplyParameterFromQuery]
    public string HouseholdName { get; set; } = string.Empty;

    private List<Guest> guests { get; set; } = new List<Guest>();
    private List<Guest> FamilyMembers { get; set; } = new List<Guest>();
    private Guest? CurrentlySelectingEntree { get; set; }

    private bool AllEntreesSelected { get; set; } = false;

    private async Task GetSelectedEntree((Guest guest, string entree) selection)
    {
        var index = FamilyMembers.FindIndex(x => x.Id == selection.guest.Id);

        if(index < FamilyMembers.Count - 1)
        {
            index++;
        }
        else
        {
            AllEntreesSelected = true;
        }
        using var db = DbFactory.CreateDbContext();
        var guestToUpdate = db.Guests.First(x => x.Name == selection.guest.Name && x.HouseholdName == selection.guest.HouseholdName);
        guestToUpdate.Entree = selection.entree;
        db.Guests.Update(guestToUpdate);
        await db.SaveChangesAsync();

        CurrentlySelectingEntree = FamilyMembers[index];
    }

    protected override async Task OnInitializedAsync()
    {
        using var db = DbFactory.CreateDbContext();
        guests = await db.Guests.ToListAsync();

        FamilyMembers = guests.Where(x => x.HouseholdName == HouseholdName && Names.Contains(x.Name)).ToList();
        CurrentlySelectingEntree = FamilyMembers.First();
    }
}